.links {
  width: 75%;
  height: 20px;
  text-align: center;
  background-color: lightblue;
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
}
.column {
  float: left;
  padding: 10px;
  height: 200px;
}
.left {
  width: 35%%;
  height: 200px;
  background-color: lightblue;
  table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  }
  th {
    height: 30px;
  }
}
.right {
  width: 65%;
  height: 200px;
  background-color: lightblue;
}
